.sidebar
{
    width: 290px !important;
}
.close
{
    display: none;
}
/* Media query for mobile devices */
@media (max-width: 786px) {
   
    .close
{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px
}
    .open {
        position: fixed;
        top: 0;
        left: 0; 
        width: 80vw !important;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        transition: right 0.3s ease;
        z-index: 1000; 
        display: block; 
      }
      .mobile
      {
        display: flex;
        flex-direction: column;
      }
      
 
}

  